<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
               
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
           
            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:5001/admin/manage_user">
                    <i class="fas fa-fw fa-table"></i>
                    <span> manage users</span></a>
            </li>
              <!-- Nav Item - Tables -->
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:5001/admin/manage_matter">
                    <i class="fas fa-fw fa-table"></i>
                    <span> manage matters</span></a>
            </li>
               <!-- Nav Item - Tables -->
               <li class="nav-item active">
                <a class="nav-link" href="http://localhost:5001/admin/manage_course">
                    <i class="fas fa-fw fa-table"></i>
                    <span> manage courses</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                   

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                        
                    </li>

                </ul>

            </nav>
                              
                
                <!-- End of Topbar -->
                 <!-- Begin Page Content -->
                    <div class="container-fluid">
               

                    <!-- Page Heading -->
                    <a href="/admin/add_course">
                    <button type="button" class="btn btn-primary">add</button></a>
                    <p class="mb-4">Administrator Area....</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>id</th>
                                            <th>Teacher_name</th>
                                            <th>Action</th>
                                        
                                    
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        <tr>
                                            <td>Python</td>
                                            <td>007</td>
                                            <td>kais ben salah</td>
                                            <td><button type="button" class="btn btn-primary mr-3" >modify</button> <button type="button" class="btn btn-primary">delete</button></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Uml</td>
                                            <td>008</td>
                                            <td>Asma kerkenni</td>
                                         <td><button type="button" class="btn btn-primary mr-3">modify</button> <button type="button" class="btn btn-primary">delete</button></td>
                                       

                                           
                                        </tr>
                                   
                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

   

   
 

</body>

</html>