<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4> Welcome in ISIMM Platform</h4>
        <ul>
            
            <li> <a href="/register">login</a></li>
            
        </ul>
        
    </nav>
   
  <section>
 <div   class="container-fluid" style="width : 100% ; height:660px ; background-attachement:fixed ; 
 background-image: url(/img/etudiant.JPG) ;background-size:100%  100% ; background-repeat:no-repeat ; background-position:cover;
 overflow:hidden:">

</div>
</section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>